* {
    margin: 0;
    font-family: Helvetica;
}

.container {
    width: 50%;
    margin: auto;
    margin-top: 3rem;
    padding-bottom: 4rem;
}

/* Header */
header {
    background-color: #8b9dc3;
    display: flex;
    gap: 2rem;
    padding: 1.2rem;
}

header .logo {
    color: #3b5998;
}

header .links {
    display: flex;
    align-items: center;
}

header .links a {
    margin-right: 1.3rem;
    text-decoration: none;
    color: #fff;
}

/* Home */
.write-post {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.write-post form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.write-post form .add-post-btn {
    width: 10%;
}

.post {
    background: #dfe3ee;
    padding: 1rem;
    border-radius: 20px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.post .post-content {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.post .comment-title {
    margin-top: 1rem;
}

/* Chats */
.chat-room {
    background-color: #dfe3ee;
    padding: 1rem;
    border-radius: 20px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.chat-room a {
    text-decoration: none;
}

/* Chat */
.chat-username {
    margin-bottom: 1rem;
}

.messages {
    margin-top: 1rem;
}

.user1 {
    color: blue;
}

.user2 {
    color: green;
}

/* Create a page */
.create-page-form {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    gap: 0.6rem;
}

.create-page-form .create-page-btn {
    width: 20%;
}

/* users */
.post-section {
    margin-top: 2rem;
}

/* sign in/up */
.sign-form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    margin-bottom: 1rem;
}